@model IEnumerable<Hospital_Management_System.Models.Patient>

@{
    ViewBag.Title = "Patient";
}

<h2>Patient</h2>

@*<p>
    @Html.ActionLink("Create New", "pCreate")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "pEdit", new { id = item.Username }) |
                @Html.ActionLink("Details", "pDetails", new { id = item.Username }) |
                @Html.ActionLink("Delete", "pDelete", new { id = item.Username })
            </td>
        </tr>
    }
    

</table>
<p>
   @* @Html.ActionLink("Edit", "pEdit", new { id = Model.Username }) |*@
    @Html.ActionLink("Back to Dashboard", "Dashboard")
</p>